* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  font-family: Inter,
  sans-serif;
  
}
body{
    background-color: #f5f8ff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 1rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.containerx{
    margin-top: 5em;
}

button{
    background-color: #e95a08;
    color: white;
    /* padding: 0.7em 5em; */
}
p{
    color: gray;
}

.list-disc {
    color: gray;
}


.absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-ld{
    color: white;
}
/* .join-item{
    padding: .5em 4em;
    border-radius: 0.2em;
} */
.hx{
    margin: .7em;
}
footer{
    margin: 5em;
}

.footer-logo{
    margin-bottom: 1em;
}
ul li{
    color: gray;
}

.fa-brands{
    width: 5em;
}