* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter,
  sans-serif;
  background-color: #f5f8ff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 1rem;
  display: flex;
  flex-direction: column;
  gap: 6em;
}