* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter,
  sans-serif;
  background-color: #f5f8ff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 1rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.containerx{
    margin-top: 5em;
}

button{
    background-color: #e95a08;
    color: white;
    padding: 0.7em 5em;
}